.ColorsOption {
  padding-bottom: 15px;

  &-moreInfo {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: max-content;
    margin: 10px 0 10px 0;
    cursor: pointer;

    > img {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 7px;
    }

    > p {
      font-family: 'Lato_400';
      font-size: 1rem;
      color: #774D2E;
    }

    &-tooltip {
      z-index: 10000 !important;
      background-color: #FFFFFF !important;
      box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1) !important;
      opacity: 1 !important;
      margin-left: -45px !important;

      &-box {
        width: 340px;
        height: max-content;

        &-gotIt {
          font-family: 'Lato_400';
          font-size: 1rem;
          line-height: 19px;
          text-align: right;
          color: #774D2E;
          margin-bottom: 10px;
        }

        &-title {
          font-family: 'Lato_300';
          font-size: 2rem;
          color: #0E0E0E;
          margin-bottom: 20px;
        }

        &-desc {
          margin-bottom: 20px;

          > p {
            font-family: 'Lato_300';
            font-size: 12px;
            color: #444444;
          }

        }
      }


    }
  }

  &-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    margin-bottom: 15px;

    &-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      border: 1.5px solid #EAEAEA;
      box-sizing: border-box;
      border-radius: 4px;
      cursor: pointer;
      padding: 15px 0;
      position: relative;

      &.delivery {
        justify-content: center !important;
        margin-bottom: 5px;

        .ColorsOption-box-item-price {
          margin-bottom: 5px;
        }
      }

      &.selected {
        border: 1.5px solid #774D2E;


        &:after {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url("../../assets/images/check-selected-icon.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }

      &.selected.without-image {
        &:after {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url("../../assets/images/check-selected-icon.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: initial;
          bottom: 5px;
          right: 5px;
        }
      }

      &.multiSelected {
        border: 1.5px solid #774D2E;

        &:after {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url("../../assets/images/check-selected-icon.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: initial;
          bottom: 5px;
          right: 5px;
        }
      }

      &.without-image {
        text-align: center;
        padding: 15px 5px;
        justify-content: space-between;
      }

      > img {
        width: 42px;
        height: 42px;
        margin-bottom: 6px;
        border-radius: 50%;
      }

      &-name {
        font-family: 'Lato_300';
        font-size: 0.75rem;
        line-height: 1rem;
        margin-bottom: 4px;
        color: #444444;
      }

      &-price {
        font-family: 'Lato_400';
        font-size: 0.625rem;
        line-height: 13px;
        color: #444444;
      }

      &-canBuyFew {
        display: flex;
        align-items: center;
        margin-top: 5px;

        .disabled{
          pointer-events: none;
          background-color: rgba(224, 224, 224, 0.59);
        }

        > span {
          font-size: 1rem;
          margin: 0 10px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: #ada3a396;
          cursor: pointer;
        }

        > p {
          font-family: 'Lato_400';
          font-size: 1rem;
          line-height: 1;
        }
      }
    }
  }
}